apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-deployment
  namespace: briitz
spec:
  replicas: 5
  selector:
    matchLabels:
      app: payment  
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: briitzacr.azurecr.io/microservices-payment:placeholder
          ports:
            - containerPort: 3000
          resources:
            requests: 
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"