apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deployment
  namespace: briitz
spec:
  replicas: 6
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
        - name: product
          image: briitzacr.azurecr.io/microservices-products:placeholder
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
