name: Order-services Pipeline

on:
  push:
    paths:
      - 'services/order/**'
      - 'k8s/deployments/order-deployment.yaml'
      - 'k8s/services/order-service.yaml'
      - '.github/workflows/order-pipeline.yml'
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    env:
      RESOURCE_GROUP: briitzresourcegroup
      AKS_CLUSTER: briitzCluster
      ACR_NAME: briitzacr

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

        
      - name: ACR Login
        run: az acr login --name $ACR_NAME   
        
        
      - name: Build and push docker image with SHA commit
        run: |
          IMAGE_TAG=${{github.sha}}
          IMAGE_NAME=$ACR_NAME.azurecr.io/microservices-orders:$IMAGE_TAG
          docker build -t $IMAGE_NAME -f ./services/orders/Dockerfile services/orders
          docker push $IMAGE_NAME
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

        
      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest' 

        
      - name: Get AKS credentials
        run: az aks get-credentials --resource-group $RESOURCE_GROUP --name $AKS_CLUSTER --overwrite-existing


      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/services/order-service.yaml
          kubectl apply -f k8s/deployments/order-deployment.yaml
          kubectl set image deployment/order-deployment user=${{ env.IMAGE_NAME }}
          kubectl rollout status deployment/order-deployment