name: Product-service Pipeline

on:
  push:
    paths:
      - 'services/products/**'
      - 'k8s/product-deployment.yaml'
      - 'k8s/product-service.yaml'
      - '.github/workflows/product-pipeline.yml'
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write


    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


      - name: ACR Login
        run: az acr login --name briitzacr


      - name: Build and push Docker
        run: |
          docker build -t briitzacr.azurecr.io/microservices-products:latest -f ./services/products/Dockerfile services/products
          docker push briitzacr.azurecr.io/microservices-products:latest


      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Get AKS credentials
        run: az aks get-credentials --resource-group briitzresourcegroup --name briitzCluster --overwrite-existing


      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/product-deployment.yaml
          kubectl apply -f k8s/product-service.yaml



          